/* LAYOUT */
.footer-container {
  color: var(--text-400);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 30px 10px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* CONTENT */
.footer-container .link-text {
  color: var(--secondary-500);
  font-weight: 500;
  margin-top: 10px;
  transition: color 0.2s ease;
}
.footer-container .link-text:hover {
  color: var(--secondary-300);
  border-bottom: 2px solid var(--secondary-200);
}
.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}
.footer-logo {
  margin: 0 5px;
  position: relative;
  filter: grayscale(100%) opacity(0.45);
}
.footer-logo.next-js {
  top: 6px;
}
.footer-logo.sanity {
  top: 3px;
}
